<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internet Banking</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
    <link rel="stylesheet" href="/static/style.css">
    <script>
        window.watsonAssistantChatOptions = {
          integrationID: "0a2086e5-a9d5-49af-b115-c72c2b03f395", // The ID of this integration.
          region: "us-south", // The region your integration is hosted in.
          serviceInstanceID: "45f4a67b-3fec-431d-abff-171737f768f9", // The ID of your service instance.
          onLoad: function(instance) { instance.render(); }
        };
        setTimeout(function(){
          const t=document.createElement('script');
          t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
          document.head.appendChild(t);
        });
      </script>
</head>
<body>
    <div class="landing-page">
        <div class="container">
            <div class="header-area">
                <div class="logo"> <h2>Banking&Finance</h2></div>
                <ul class="links">
                    <li>Home</li>
                    <li>About Us</li>
                    <li>Services</li>
                    <li>Contact Us</li>
                </ul>
            </div>
            <div class="info">
                <h1>Banking Services</h1>
                <p>Banking includes a wide variety of financial institutions that store the money of individuals, businesses and other entities. Banks provide financial services that help people save, manage and invest their money.</p>
                <button>Read More</button>
            </div>
            <div class="image">
                <img src="static/home.png" alt="">
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</body>
</html>